/* Estilos para la información de los datos */
.data-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.data-row {
    width: calc(50% - 20px); /* Esto divide los elementos en dos columnas */
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.data-label {
    font-weight: bold;
    min-width: 180px;
}

.data-value {
    margin-left: 10px;
}

/* Estilos para la tabla */
.app-table-cuota {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
