<div class="sidebar fixed">
  <div class="sidebar-content space-y-8">
    <div class="stacked-text center-text">
      <h1>Proyecto</h1>
      <h1>Finanzas</h1>
    </div>

    <div>
      <h2 class="font-semibold center-text">Luis Alberto</h2>
      <img class="profile-img"
           src="https://media.istockphoto.com/id/1386479313/photo/happy-millennial-afro-american-business-woman-posing-isolated-on-white.webp?b=1&s=170667a&w=0&k=20&c=ahypUC_KTc95VOsBkzLFZiCQ0VJwewfrSV43BOrLETM="/>
    </div>

    <div class="buttons">
      <a routerLink="/form" class="spacing">
        <h3>HOME</h3>
      </a>

      <a routerLink="/historial">
        <h3>HISTORIAL</h3>
      </a>

      <a routerLink="/profile">
        <h3>PROFILE</h3>
      </a>
    </div>
</div>
  <div class="flex justify-center w-full pb-5" >
    <button class="bg-[#FEDFDF] hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center
                   space-x-3 ">
      <mat-icon>keyboard_tab</mat-icon>
      <span class="">Salir Sesion</span>
    </button>
  </div>

</div>

