<div class="sidebar fixed">
  <div class="sidebar-content space-y-8">
    <div class="stacked-text center-text">
      <h1>Proyecto</h1>
      <h1>Finanzas</h1>
    </div>

    <div>
      <h2 class="font-semibold center-text">{{ userData?.firstName }} {{ userData?.lastName }}</h2>
      <img class="profile-img" src="https://cdn.discordapp.com/attachments/1149190528756363337/1172571557047050351/1361728.png?ex=6560cd5c&is=654e585c&hm=fa1abee9a3e82d0c8e496c5ee66fa98810df518fd4691e76663d0a1a3bcf6ebe&" alt="Profile Image">
    </div>

    <div class="buttons">
      <a routerLink="/form" class="spacing">
        <h3>HOME</h3>
      </a>

      <a routerLink="/historial">
        <h3>HISTORIAL</h3>
      </a>

      <a [routerLink]="['/profile', userData?.id]">
        <h3>PROFILE</h3>
      </a>
    </div>
  </div>

  <div class="flex justify-center w-full pb-5">
    <button class="bg-[#FEDFDF] hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center space-x-3">
      <mat-icon>keyboard_tab</mat-icon>
      <span class="">Salir Sesion</span>
    </button>
  </div>
</div>
