<div class="centered-content">
  <h1 class="title-style">MI HISTORIAL</h1>
  <h2>En esta sección accederemos a todas las transacciones hechas por el usuario</h2>
</div>

<ng-container *ngIf="datos && datos.length > 0; else noData">
  <div *ngFor="let data of datos; let i = index">
    <div class="card" *ngIf="data.studentId === userData?.id">
      <app-table-cuota class="flex p-10" [tableFee]="data" [class.spacing]="i > 0"></app-table-cuota>
    </div>
  </div>
</ng-container>
<ng-template #noData>
  <div class="no-data-message">No hay tablas que mostrar.</div>
</ng-template>
