    <section class="table-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="data" *ngIf="displayedColumns.length > 0">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.columnName" [sticky]="isSticky(column.columnName)"
                      [stickyEnd]="isStickyEnd(column.columnName)">
          <ng-container *ngIf="column.visible">

            <th mat-header-cell *matHeaderCellDef >
              {{ column.displayName }}
            </th>

            <td mat-cell *matCellDef="let element" [class.sticky-cell]="isSticky(element)">
              <ng-container *ngIf="isNumberExcludingNC(element[column.columnName], column.columnName); else nonNumber">
                {{ formatoMosneda(element[column.columnName],tipoMoneda) }}
              </ng-container>
              <ng-template #nonNumber>
                {{ element[column.columnName] }}
              </ng-template>
            </td>
          </ng-container>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames; sticky: isSticky('header-1')"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

      </table>
    </section>

