<div *ngIf="userProfile">
  <div class="container">
    <img [src]="userProfile.profileImage || defaultProfileImage" alt="Profile Image" class="profile-image">

    <div class="form-container">
      <div class="column">
        <div class="label-input-group">
          <label for="primernombre">Nombre:</label>
          <input type="text" id="primernombre" name="nombre" [(ngModel)]="userProfile.firstName">
        </div>
        <div class="label-input-group">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="userProfile.lastName">
        </div>
        <div class="label-input-group">
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" [(ngModel)]="userProfile.phone">
        </div>
      </div>

      <div class="column">
        <div class="label-input-group">
          <label for="otroApellido">Apellido:</label>
          <input type="text" id="otroApellido" name="otroApellido" [(ngModel)]="userProfile.lastName">
        </div>

        <div class="column">
          <div class="label-input-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="userProfile.direccion">
          </div>
          <div class="label-input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="userProfile.password">
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="update-btn" (click)="toggleEdit()">Update Profile</button>

      <button class="update-btn update-btn-secondary" *ngIf="isEditing" (click)="saveProfile()">Save Changes</button>
      <button class="update-btn update-btn-secondary" *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>
